[alias]
	a = add
	amend = commit --amend
	delete = branch -D
	devel = switch develop
	cm = commit
	master = switch master
	prune = fetch --prune
	p = pull
	rs = reset --soft HEAD~1
	s = status
	sw = switch

[commit]
{{- if .git_gpgkey }}
	gpgsign = true
{{- end }}

[help]
	autocorrect = 20

[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
{{- if .git_gpgkey }}
	signingkey = {{ .git_gpgkey }}
{{- end }}
